
@{
    ViewData["Title"] = "ConfirmEmail";
}
<div class="container">
    <div class="center text-center">
        <h1>ConfirmEmail</h1>
        <p>Dear @ViewBag.user , your Account is confirmed successfully</p>
    </div>
</div>

