
@{
    ViewData["Title"] = "ForgetPassword";
}

@model FileTrackingSystem.BL.Models.ResetPasswordView
<div>


    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form asp-action="ForgetPassword" asp-controller="Login" method="post">
                    <img class="img-circle" src="~/img/hospital.png" width="200" height="200" />
                    <h1>Forget Password</h1>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div>
                        <input type="text" class="form-control" asp-for="email" id="email" required name="email" placeholder="User Name" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>

                    <div>
                        <button class="btn btn-default submit" type="submit">Reset Password</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            Login to Continue?
                            <a asp-action="" asp-controller="Login" class="to_register"> Click here </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />
                        <p>
                            @if (ViewBag.err != "")
                            {
                                <div class="form-group">
                                    <label class="btn btn-success" style="padding:10px;">@ViewBag.err</label>
                                </div>
                            }
                        </p>
                        <div>
                            <h1><i class="fa fa-paw"></i> File Tracking System!</h1>
                            <p>©@DateTime.Now.Year All Rights Reserved. <a href="https://www.b2lsolutions.in/">B2l Software Solutions</a></p>
                        </div>
                    </div>
                </form>
            </section>
        </div>


    </div>
</div>

