
@{
    ViewData["Title"] = "Index";
}
@model FileTrackingSystem.BL.Models.LoginViewModel
<div class="animate form login_form">
    <section class="login_content">
        <form method="post" asp-action="Index" asp-controller="Login">
            <h1>Login Form</h1>
            <div>
                <input asp-for="uname" type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
                <input asp-for="password" type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Log in</button>
                <a class="reset_pass" asp-action="ForgetPassword" asp-controller="Login">Lost your password?</a>
            </div>
        </form>

        <div class="clearfix"></div>

        <div class="separator">
            @*<p class="change_link">
            New to site?
            <a asp-action="Register" asp-controller="Login" class="to_register"> Create Account </a>
        </p>*@

            <p>External Logins</p>

            @if (Model.ExternalLogins.Count == 0)
            {
                <div>No External Logins Configured</div>
            }
            else
            {
                <form method="post" asp-action="ExternalLogin" asp-controller="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var itm in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" title="@itm.DisplayName" value="@itm.Name">@itm.DisplayName</button>
                        }
                    </div>
                </form>
            }
            <hr />
            <div class="clearfix"></div>
            <br />

            <div>
                <h1><i class="fa fa-paw"></i> File Tracking System!</h1>
                <p>©2021 All Rights Reserved. <a href="https://www.b2lsolutions.in">B2l Software Solutions</a></p>
            </div>
        </div>
    </section>
</div>

